/*Calculator*/
.calculator-container {
	align-items: center;
	display: flex;
	height: 90vh;
	justify-content: center;
	width: 100%;
}

.calculator {
	background-color: #f0d2c9;
  border: 1px solid black;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
	transition: 0.3s;
}

/*calculator parts*/
.screen-container {
	background-color: white;
	border-bottom: 1px solid black;
	height: 15vh;
}

.numbers-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.calculator-button {
	font-size: 2rem;
	margin: 0.5rem;
	padding: 2rem;
}

.calculator-button {
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color: #768d87;
	border-radius: 5px;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b665e;
}

.calculator-button:hover {
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color: #6c7c7c;
}

.calculator-button:active {
	position: relative;
	top: 1px;
}

/*key frames*/
@keyframes shadow-pop-tr {
	0% {
		box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
			0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
		transform: translateX(0) translateY(0);
	}
	100% {
		box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
			4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
			8px -8px #3e3e3e;
		transform: translateX(-8px) translateY(8px);
	}
}
